@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Raleway:100,400');

body {
    background-image: url(nyc.jpg);
    background-repeat: no-repeat;         
    background-color: #031F4A;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    justify-items:stretch;
    padding: 50px;
    background: transparent;

}

.container > div {
    background: #031F4A;
    padding:1em;
}
.container > div:nth-child(odd) {
    background: #0A3878;
}

.nested {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap:1em;
    /* background-color: #1D4E6C; */
}
/* .nested > div {
    border: #2c0125 1px solid;
} */

.aboutme {
    grid-column: 1/3;
    grid-row: 1/3;
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    padding: 10px;
    /* background-color: 	#0A3878; */
}
.aboutmetext {
    font-size: 15px;
    font-family: 'Lato';
    font-weight: 100;
    color: #E54D5C;
}

.myname {
    color: white;
    margin: 0;
}
.webDeveloper {
    color: #E54D5C;
}


.iconContainer {
    display:grid;
    grid-template-columns:repeat(1, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-gap:0.2em;
    padding: 5px;
    color: #9199BA;
}
/* .iconContainer > div {
    border: black 1px solid;
} */
.nestedIconContainer {
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-gap:0.2em;
    /* padding: 5px; */
    color: #9199BA;
}
/* a:hover{
    color: white !important;
} */
.fa-file-alt,
.fa-github-square,
.fa-linkedin {
    color: #9199BA;
}
.fa-file-alt:hover,
.fa-github-square:hover,
.fa-linkedin:hover {
    color: white;
}

.myimg {
    height: 150px;
    margin-top: 20px;
    /* background-color: #023a45; */
}

.box2, 
.box3, 
.box4,  
.box6,
.headerSkills {
    font-family: 'Raleway';
    font-size: 20px;
    color: #9199BA;
    font-weight: bold;
}

.skills {
    display:grid;
    grid-template-columns:repeat(3, 2fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap:0.2em;
    padding: 5px;
    font-size: 50px;
    text-align: center;
    color: white;
}
.postgresTitle {
    font-style: normal;
    margin: 0;
    font-size:13px; 
    font-family: 'Raleway'; 
    color: white"
}

.fa-react {
    color: #00C0F0;
}
.fa-js {
    color: #d6d600;
}
.fa-css3-alt {
    color: #38619C;
}

.fa-html5 {
    color: #D55736;
}

@media only screen and (max-width: 768px) {
    .container{
      display: block;
      width: 500px;
    }
    .margin-bot {
      margin-bottom: 2px;
    }

   }